---

import { Image } from "astro:assets"

import RichTextRenderer from "../../components/RichTextRenderer.astro"

import type { Post, Category, User, Media, Author } from "../../../types/payload-types"

import MainLayout from "../../layouts/mainLayout.astro"
import ImageRenderer from "../../components/ImageRenderer.astro"
import Container from "../../components/Container.astro"

import { isPostVisible } from "../../utils/contentUtils"
import { cmsFetch } from "../../utils/requests"
import MailingListForm from "../../components/MailingListForm.astro"

export async function getStaticPaths() {
    const res = await cmsFetch(import.meta.env.PAYLOAD_CMS_URL + "/api/posts?depth=2")
    const posts = await res.json()

    return posts.docs
    .filter(isPostVisible) // dont publish draft posts
    .map((post: Post) => {
        return {
            params: {
                slug: post.slug
            },
            props: post as Post
        }
    })
}

const post = Astro.props as Post
const author = post.author as Author
const banner = post.banner as Media

const draft = post.status === "draft"

const dateCreated = post.publishedDate ? new Date(post.publishedDate) : new Date(post.createdAt)
const dateUpdated = null

// formatted date string
const dateCreatedString = dateCreated?.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })

---
<MainLayout titleProp={post.title} description={post.description}>
	<Container>
        <header class="flex flex-col justify-start items-start gap-8">
            {banner ? <ImageRenderer width={1920} height={1080} class="w-full mx-auto rounded-xl" src={banner.sizes?.sixteenByNineLarge?.url} alt={author.name} /> : null}

            <address class="flex items-center not-italic">
                <div class="inline-flex items-center mr-3 text-sm text-white">
                    {author?.profilePicture ? <ImageRenderer width={400} height={400} class="mr-4 w-16 h-16 rounded-full" src={(author?.profilePicture as Media).sizes?.thumbnail?.url!} alt={author.name} /> : null}
                    <div>
                        <a href="#" rel="author" class="text-xl font-bold text-white">{author?.name}</a>
                        <p class="text-base font-light text-gray-400">{author?.shortBio}</p>
                        <p class="text-base font-light text-gray-400">
                            <time datetime={`${dateCreated.getUTCDate()}-${dateCreated.getUTCMonth()}-${dateCreated.getUTCFullYear()}`} title={dateCreatedString}>{`${dateCreatedString}`}</time>
                        </p>
                    </div>
                </div>
            </address>
        </header>

        {draft ? <p class="text-orange-600 mt-8">This is a draft post. You can see this text either because your post is a draft and are either developing locally or viewing a preview build. Have a read before publishing, and make sure this is not on the production build.</p> : null} <!-- For draft posts, extra check -->

        <h1 class="text-3xl mt-10 font-extrabold lg:text-4xl text-white">{post.title}</h1>
        
        <!-- <div class="text-and-primary text-2xl font-bold italic text-center">{post.description}</div> -->
        <RichTextRenderer class="mt-5" content={post.content} />
        <div class="my-24">
            <MailingListForm />
        </div>
	</Container>
    
</MainLayout>