---
import MainLayout from "../../layouts/mainLayout.astro";
import type { Post, Media, Author } from "../../../types/payload-types"
import Container from "../../components/Container.astro";
import ImageRenderer from "../../components/ImageRenderer.astro";

import { isPostVisible } from "../../utils/contentUtils"
import { cmsFetch } from "../../utils/requests";

const res = await cmsFetch(import.meta.env.PAYLOAD_CMS_URL + "/api/posts?limit=40")

const defaultImage = await (await cmsFetch(import.meta.env.PAYLOAD_CMS_URL + "/api/media/64da22c9d52c357fdc4da137")).json() as Media
const defaultThumbnail = defaultImage?.sizes?.sixteenByNineMedium

const postJson = await res.json()
const posts = postJson.docs as Post[]

if (posts == null) {
    console.error("No posts found, could be an error during build step, maybe CMS isnt hooked up? Maybe posts dont have read access? Check (from Dave)")
}

---

<MainLayout titleProp="All Posts" description="All blog posts written by the team behind AND">
    <Container>
        <h1 class="text-4xl font-bold text-white mb-4">All Posts</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {posts.some(isPostVisible) ? posts
                .filter(isPostVisible) // for draft posts
                .map((post: Post) => {
                    const author = post.author as Author
                    const banner = post.banner as Media
                    const draft = post.status === "draft"

                    const smallPostTitle = post.title.length > 80 ? post.title.substring(0, 80) + "..." : post.title

                    const href = "/blog/" + post.slug
                    
                    return (
                        <article class="">
                            <a href={href}>
                                {
                                    banner ? <ImageRenderer class="rounded-lg"
                                    src={banner.sizes?.sixteenByNineMedium?.url} 
                                    alt={banner?.alt || ""}
                                    width={banner.sizes?.sixteenByNineMedium?.width} 
                                    height={banner.sizes?.sixteenByNineMedium?.height} />  
                                    : <ImageRenderer class="rounded-lg"
                                        src={defaultThumbnail?.url} 
                                        alt={""}
                                        width={defaultImage?.sizes?.sixteenByNineMedium?.width} 
                                        height={defaultImage?.sizes?.sixteenByNineMedium?.height} />
                                }
                                {draft ? <p class="text-orange-600 text-center w-full">Draft Post</p> : null}
                                <h2 class="mb-4 mt-4 text-xl font-bold text-center leading-tight text-white">
                                    {smallPostTitle}
                                </h2>
                                <p class="mb-4 font-light text-center text-zinc-400">{post.description}</p>
                            </a>
                        </article>
                    )
            }) : <div>
                <p class="text-zinc-300">No posts here. Check back sometime soon!</p>
                </div>
            }
        </div>
    </Container> 
</MainLayout>