---
import Logo from "../../public/android-chrome-512x512.png"

import { Image } from "astro:assets"

interface Props {
	titleProp: string;
	description: string;
}

const {titleProp, description} = Astro.props as Props;

const title = titleProp + " | AND.FM"
---


<html lang="en" class="bg-and-black">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#232323">
		<meta name="msapplication-TileColor" content="#232323">
		<meta name="theme-color" content="#232323">
        
        <!-- Meta Tags Generated with https://metatags.io -->
        <!-- Primary Meta Tags -->
        <title>{title} | AND.FM</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://and.fm" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <!-- <meta property="og:image" content="https://metatags.io/images/meta-tags.png" /> -->

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://and.fm" />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <!-- <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" /> -->

        <style is:global>
            .easeload { /* For image loading functionalities */
                opacity: 0;
                -webkit-transition: opacity 2s ease; 
                -moz-transition: opacity 2s ease; 
                -ms-transition: opacity 2s ease; 
                -o-transition: opacity 2s ease; 
            }
        </style>        

	</head>
	<body class="min-h-screen flex flex-col justify-between">
		<div class="h-full w-full">
            <!-- Header -->
            <nav class="w-full max-w-6xl mx-auto p-8 px-16 flex justify-between items-center flex-row">
                <div class="w-fit"> <!-- Put logos and other things here -->
                    <a href="/" class="w-fit">
                        <Image src={Logo} width="128" height="128" alt="AND.FM Logo" loading="eager" class="w-12 md:w-16 h-12 md:h-16 object-contain" />
                    </a>
                </div>
                <div class="text-white justify-end flex-row gap-5 lg:gap-10 items-center hidden md:flex"> <!-- Links -->
                    <a rel="prefetch" class="text-zinc-100 font-light" href="/">Home</a>
                    <a rel="prefetch" class="text-zinc-100 font-light" href="/services">Services</a>
                    <a rel="prefetch" class="text-zinc-100 font-light" href="/faq">FAQ</a>
                    <a rel="prefetch" class="text-zinc-100 font-light" href="/about">About</a>
                    <a rel="prefetch" class="rounded-xl bg-gradient-to-tr from-red-300 via-orange-300 to-yellow-300 p-4 px-6 text-center text-black font-bold" href="/">Sign Up</a>
                </div>
            </nav>

            <slot /> <!-- children / nested stuff here -->
        </div>

        <footer class="w-full h-auto flex flex-col justify-center items-center p-8"> <!-- Footer -->
            <p class="text-sm font-light text-zinc-300">&copy; ANX Music 2023</p>
        </footer>
    </body>
</html>
