---
import Footer from "../components/Footer.astro";
import Navbar from '../components/Navbar.astro';

interface Props {
	pageTitle: string;
	pageDescription: string;
}

const {pageTitle, pageDescription}: Props = Astro.props;

const siteTitle = "and.fm";
const title = pageTitle === "Home" ? siteTitle : `${pageTitle} | ${siteTitle}`
---

<html lang="en" class="bg-and-black">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="msapplication-TileColor" content="#232323">
		<meta name="theme-color" content="#232323">
        
        <!-- Meta Tags Generated with https://metatags.io -->
        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={pageDescription} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://and.fm" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={pageDescription} />
        <!-- <meta property="og:image" content="https://metatags.io/images/meta-tags.png" /> -->

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://and.fm" />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={pageDescription} />
        <!-- <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" /> -->

        <style is:global>
            *::-webkit-scrollbar-track {
                border-radius: 5px;
                margin-right: 30px;
                background-color: #232323;
            }
            
            *::-webkit-scrollbar {
             height: 0.5rem;
             width: 0.5rem;
            }    
            /*Scroll bar nav*/

            *::-webkit-scrollbar-track:hover {
            background-color: #232323;
            }

            *::-webkit-scrollbar-track:active {
            background-color: #323232;
            }
            
            *::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #4c4c4c;
            }
            
            *::-webkit-scrollbar-thumb:hover {
            background-color: #5f5f5f;
            }

            *::-webkit-scrollbar-thumb:active {
            background-color: #5f5f5f;
            } 
        </style>        
	</head>
    <!-- keep overflow-x-clip otherwise the navbar (which is of width 100vw) will cause the page to have a horizontal scrollbar -->
	<body class="flex flex-col justify-between min-h-screen overflow-x-clip">
		<div class="w-full h-full">
            <Navbar />
            <slot />
        </div>
        
        <!-- this footer is placed below the top stuff so that the footer
            will always be at either the bottom of the screen or at the bottom of the whole page if it's bigger
            than the screen. -->
        <Footer /> 
    </body>
</html>
