---
interface Props {
	titleProp: string;
	description: string;
}

const {titleProp, description} = Astro.props as Props;

const title = titleProp + " | AND.FM"
---


<html lang="en" class="bg-and-black">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#232323">
		<meta name="msapplication-TileColor" content="#232323">
		<meta name="theme-color" content="#232323">
		
        
        <!-- Meta Tags Generated with https://metatags.io -->
        <!-- Primary Meta Tags -->
        <title>{title} | AND.FM</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://and.fm" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <!-- <meta property="og:image" content="https://metatags.io/images/meta-tags.png" /> -->

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://and.fm" />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!" />
        <!-- <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" /> -->

	</head>
	<body>
		<slot /> <!-- Enter stuff here -->
    </body>
</html>
